.Header{
    display: -webkit-inline-flex;
    display: flex; 
}

.columnelem{
    -webkit-flex-grow: 1; 
    flex-grow: 1;
}

.Table_container{
    display: -webkit-inline-flex;
    display: flex; 
} 
.Table_element{
    display: -webkit-inline-flex;
    display: flex; 
    flex-direction: column;
    align-items:stretch;
} 

.row{
    -webkit-flex-grow: 1; 
    flex-grow: 1;
    border: 1px solid #a9a6a3;
    padding: 3px;
}

.rowItem{
    display: flex;
    padding: 10px 100px;
}

.Buttons{
    display: flex;
}